@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

/* General */
#clientDashboard {
	height: 100vh;
	width: 100vw;
	background: radial-gradient(circle at top, #1b1d22, #0a0b0f);
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-family: "Inter", system-ui, sans-serif;
}

/* Subtle noise overlay ------------------- */
#clientDashboard::before {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
}
